<!DOCTYPE html>
    <html ng-app="myTeamApp">
     <head>
        <title>Teams</title>
    </head>
    <body ng-controller="ListController">
        <h1>My Teams</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Team Name</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Wins</th>
                    <th>Loses</th>
                    <th>Win %</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teams">
                    <td><input type="button" value="X" ng-click="removeTeam(team)" />
                    <td>{{team.Name}}</td>
                    <td>{{team.League}}</td>
                    <td>{{team.Division}}</td>
                    <td>{{team.Wins}}</td>
                    <td>{{team.Loses}}</td>
                    <td>{{(team.Wins / (team.Wins + team.Loses)) * 1000}}</td>
                </tr>
            </tbody>
            <!--
                Add input fields to collect data from the user to successfully add a 
                new team to the list
                
                Remember: Winning percentage is calculated so we don't need to get that from the user
                --> 
        </table>
        
        <!-- 
            Add a button to restore all teams that should only be visible if
            there are teams that need restored
            -->
           
        <script src="/common/js/angular/angular.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>