<td width="14%">{{name}}</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$invalid"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$invalid"></span>
</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$valid"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$valid"></span>
</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$pristine"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$pristine"></span>
</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$dirty"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$dirty"></span>
</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$touched"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$touched"></span>
</td>
<td>
    <span class="glyphicon glyphicon-ok" ng-show="field.$untouched"></span>
    <span class="glyphicon glyphicon-remove" ng-show="!field.$untouched"></span>
</td>