<!DOCTYPE html>
    <html ng-app="filterApp">
     <head>
        <title>Filter App</title>
    </head>
    <body ng-controller="MainController">
        <h1>Filter Controller with Sort</h1>

        <h2>Filter By:</h2>
        <ul>
            <li>By Name: <input type="text" ng-model="filter.Name" /></li>
            <li>By League: <input type="number" ng-model="filter.League" /></li>
            <li>By Division: <input type="number" ng-model="filter.Division" /></li>
        </ul>
        
        <!-- 
            Add  a form that enables you to caputure the upper and lower bounds of 
            a given team's wins
        --> 
        
        <h2>Order By:</h2>
         <ul>
            <li>Sort On: <select name="order" ng-options="one for one in availableForSort track by one" ng-model="sortOn"></select></li>
            <li>Direction:  <input type="radio" ng-model="sortDirection" name="asc" id="asc" ng-value="false" />
                            <label for="asc">Asc</label>
                            <input type="radio" ng-model="sortDirection" name="desc" id="desc" ng-value="true" />
                            <label for="desc">Desc</label></li>
        </ul>
        
        <!--
            Add a local filter that applies a range of wins between and upper and lower bound
        -->
        
        <h2>Records</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Wins</th>
                    <th>Loses</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="one in teams | filter:filter | orderBy:sortOn:sortDirection">
                    <td>{{one.Name}}</td>
                    <td>{{one.League}}</td>
                    <td>{{one.Division}}</td>
                    <td>{{one.Wins}}</td>
                    <td>{{one.Loses}}</td>
                </tr>
            </tbody>
        </table>
            
        <script src="/common/js/angular/angular.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>